* {
  overflow: auto;
  font-size: 16px; 
}

body{
  background-color: black;
  color: white;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
}

h1{
  font-weight: bold;
}

h2{
  margin-top: 20px; 
  text-align: center;
  border: 5px solid; 
  padding: 5px; 
}

h3{
  margin-left: 10px;
}

#citiesList div{
 display: inline-block; 
 margin-left: 10px; 
}

#head {
  margin: 0 auto; 
  text-align: center;
}

#head input{
  color: black;
  display: inline-block;
}

#selectedCity {
  margin-bottom: 100px; 
}

#selectedCity > .container > .row > .col{
  height: 120px;
  border: solid white;  
}

.jumbotron{
  text-align: center;
  color: black;
}

.today {
  border: solid white;
}

.today, .forecast, .hourly {
  background-color: #224455;  
  color: #ccccaa;
}

.hide {
  display: none; 
}