* {
  overflow: auto;
  font-size: 16px; 
}

body{
  background-color: black;
  color: white;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, Sans-Serif;
}

h2{
  text-align: center;
  border: 5px solid; 
  padding: 5px; 
}

h3{
  margin-left: 10px;
}

#citiesList div{
 display: inline-block; 
 margin-left: 10px; 
}

#head {
  margin: 0 auto; 
  text-align: center;
}

#head input{
  color: black;
  display: inline-block;
}

#selectedCity > .container > .row > .col{
  height: 120px;
  border: solid white;  
}

.jumbotron{
  text-align: center;
  color: black;
}

.today {
  background-color: #224455;  
  color: #ccccaa;
  border: solid white;
}

.forecast {
  background-color: #335566;
  color: #ccccaa;
  /*border: solid white;*/
}

.forecast ul {
  border: solid white;  
}

.hourly {
  color: white;
  /*background: #222222;*/
}

.hourly ul {
  /*border-style: solid;*/
}

.hide {
  display: none; 
}